# ignore all folders/files by default
**/*

# allow-list directories (allow the directory and its contents)
!containerized_oracle_development_environment/deployment_scripts/**
!containerized_oracle_development_environment/ords-config/**
!modules/CDD/**