[submodule "modules/DSC"]
	path = modules/DSC
	url = git@picgitlab.nmfs.local:centralized-data-tools/pifsc-dsc.git
[submodule "modules/CU"]
	path = modules/CU
	url = git@picgitlab.nmfs.local:centralized-data-tools/centralized-utilities.git
[submodule "modules/CDS"]
	path = modules/CDS
	url = git@github.com:noaa-pifsc/PIFSC-Container-Deployment-Scripts.git
[submodule "modules/LHP"]
	path = modules/LHP
	url = git@picgitlab.nmfs.local:lhp/lhp-data-management.git
