[submodule "core/modules/CDS"]
	path = core/modules/CDS
	url = git@github.com:noaa-pifsc/PIFSC-Container-Deployment-System.git
[submodule "projects/DSC/modules/DSC"]
	path = projects/DSC/modules/DSC
	url = git@github.com:noaa-pifsc/PIFSC-DSC.git
[submodule "projects/CU/modules/CU"]
	path = projects/CU/modules/CU
	url = git@picgitlab.nmfs.local:centralized-data-tools/centralized-utilities.git
[submodule "projects/LHP/modules/LHP"]
	path = projects/LHP/modules/LHP
	url = git@github.com:noaa-pifsc/LHP-Data-Management.git
